body {
    background: #fff;
    margin: 0 auto;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
    line-height: 1.5;
  }
  
  a,
  a:hover {
    color: #e9593c;
    text-decoration: none;
  }
  
  a img {
    border: none;
  }
  
  .clear {
    clear: both;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 100;
    line-height: 1.5;
    color: #141313;
  }
  
  p {
    font-family: "Gotham-Book", Arial, cursive, "sans-serif";
    font-size: 1em;
    font-weight: normal;
    line-height: 1.5;
    text-align: justify;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-style: normal;
    margin: 0 0 20px 0;
  }
  
  h1 {
    font-size: 40px;
  }
  
  h2 {
    font-size: 32px;
  }
  
  h3 {
    font-size: 24px;
  }
  
  h4 {
    font-size: 18px;
  }
  
  h5 {
    font-size: 16px;
  }
  
  h6 {
    font-size: 14px;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  #container {
    max-width: 1024px;
    margin: 0 auto;
    background: #eeeeed;
    overflow: hidden;
  }
  
  header {
    height: 100px;
    padding: 0;
    background: #ffffff;
    position: relative;
    display: flex;
    justify-content: space-between;
    justify-items: center;
  }
  
  header .search-bar-wrapper {
    position: relative;
    padding: 0;
    width: 60%;
    height: inherit;
  }
  
  header .logo-wrapper {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    justify-items: baseline;
  }
  
  header .logo-wrapper .logo {
    font-size: 2rem;
    font-weight: 900;
    line-height: 1;
    width: 100%;
    text-align: left;
  }
  
  header .logo-wrapper .slogan {
    text-align: justify;
    width: 100%;
  }
  
  header .search-bar-wrapper {
    position: relative;
    width: 60%;
    height: inherit;
  }
  
  header .search-bar-wrapper .form-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: inherit;
  }
  
  .form-wrapper .form-input {
    width: 60%;
    height: inherit;
    display: flex;
    align-items: center;
  }
  
  .form-wrapper .form-submit {
    height: calc(100% / 3);
    border: 2px solid #d04d33;
    border-left: none;
    overflow: hidden;
  }
  
  .form-wrapper .form-input input {
    width: 100%;
    height: calc(100% / 3);
    border: 1px solid #b5b5b5;
    border-right: none;
    border-radius: 6px 0 0 6px;
  }
  
  .form-wrapper .form-submit button {
    width: 100%;
    height: 100%;
    font-size: small;
    text-transform: uppercase;
    background: #e9593c;
    color: #ffffff;
    border: none;
  }
  
  nav {
    position: relative;
    margin: 0;
    padding: 0 15px;
    height: 45px;
    background: #ffffff;
  }
  
  nav ul.nav-bar {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #e0dede;
  }
  
  nav ul.nav-bar li {
    padding: 1vh 2vw;
    position: relative;
    width: 150px;
  }
  
  nav ul.nav-bar li a {
    position: absolute;
    bottom: -3px;
    left: 0;
    border-bottom: 3px solid #e0dede;
    display: block;
    width: 100%;
    text-align: center;
    transition: all 0.9s ease-in-out;
  }
  
  nav ul.nav-bar li a.active,
  nav ul.nav-bar li a:hover {
    border-bottom-color: #e9593c;
  }
  
  section {
    padding: 0;
    margin: 0;
    margin-botto img {
      opacity: 0.5;
      filter: alpha(opacity=50); /* For IE8 and earlier */
    }
    
    img:hover {
      opacity: 1.0;
      filter: alpha(opacity=100); /* For IE8 and earlier */
    }m: 10px;
    position: relative;
    overflow: hidden;
  }
  
  section .title {
    text-align: center;
    font-size: 2rem;
    font-weight: 100;
    text-transform: uppercase;
  }
  
  section#bilboard .bilboard-wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 60vh;
    position: inherit;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  #bilboard .bilboard-wrapper .bilboard-image {
    width: 45%;
    height: 100%;
    display: inline-block;
    position: relative;
    overflow: hidden;
  }
  
  .bilboard-image img {
    width: 100%;
    height: 100%;
  }
  
  #bilboard .bilboard-wrapper .bilboard-title {
    position: relative;
    width: 55%;
    height: 100%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  
  #bilboard .bilboard-wrapper .bilboard-title h1 {
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
  }
  
  #bilboard .bilboard-wrapper .bilboard-title read-more {
    text-align: right;
    display: block;
  }
  
  #bilboard .bilboard-wrapper {
    line-height: 1.1;
  }
  
  section.last-posts {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url(../images/bg.jpg);
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  section.last-posts .title {
    text-align: center;
    font-size: 2rem;
    font-weight: 100;
    color: #000;
    text-transform: uppercase;
  }
  
  .last-posts .last-posts-wrapper {
    margin: 0;
    padding: 0;
    display: flex;
    height: 80%;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.6);
  }
  
  .last-posts-wrapper .last-post {
    width: 33vw;
    overflow: hidden;
    padding: 0 15px;
  }
  .last-posts-wrapper .last-post .read-more {
    text-align: right;
    display: block;
    font-size: x-small;
    font-weight: bold;
    text-transform: uppercase;
    color: #e9593c;
  }
  
  .last-post .last-post-image {
    padding: 0;
    margin: 0;
    position: relative;
    height: 30vh;
    overflow: hidden;
  }
  
  .last-post .last-post-image img {
    width: 100%;
    height: 100%;
  }
  
  .last-post .short-text {
    margin: 1vh 0 0;
    font-size: 0.9rem;
    line-height: 1;
    text-align: justify;
  }
  section.galery {
    background: #111215;
    display: flex;
    flex-direction: column;
    justify-items: center;
    height: 60vh;
  }
  section.galery .title {
    color: #fff;
    padding: 15px;
  }
  
  .galery-wrapper {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 280px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-content: flex-start;
    background: rgba(255, 255, 255, 0.6);
  }
  
  ul.galery-wrapper li {
    width: 170px;
    height: 140px;
    overflow: hidden;
  }
  
  ul.galery-wrapper li {
    width: calc(100% / 6);
    height: 130px;
    overflow: hidden;
    margin: 5px;
  }
  
  ul.galery-wrapper li:first-child {
    height: 100%;
    width: 50%;
    margin: 0;
  }
  
  ul.galery-wrapper li img {
    width: 100%;
    height: inherit;
  }
  
  section.contact {
    padding: 15px;
    background: #dcdcdc;
    display: flex;
    align-items: center;
    margin: 2vh auto 2vh;
    width: 90%;
    border-left: 4px solid #1e499c;
  }
  
  section.contact .title {
    width: 75vw;
    font-size: large;
    text-transform: uppercase;
    text-align: left;
  }
  
  section.contact .contact-link {
    width: 25vw;
    text-align: center;
    line-height: 2;
  }
  
  section.contact .contact-link a {
    background: #e9593c;
    padding: 12px;
    color: #fff;
  }
  
  section.pre-footer {
    background: #1f394c;
  }
  
  section.pre-footer {
    background: #1f394c;
    color: #fff;
    font-size: small;
    display: flex;
    justify-content: space-between;
    height: 65vh;
  }
  
  section.pre-footer .pre-footer-bloc {
    width: calc(100% / 4);
    padding: 0 15px;
    text-align: justify;
    border: 1px solid;
    height: inherit;
  }
  
  section.pre-footer .pre-footer-bloc .title {
    font-size: large;
    border-bottom: 1px solid;
    margin-bottom: 15px;
  }
  section.pre-footer .pre-footer-bloc .tweet {
    font-size: x-small;
    line-height: 1.1;
    padding: 15px 10px;
    margin: 12px 0;
    background: rgba(0, 0, 0, 0.24);
  }
  section.pre-footer .pre-footer-bloc .tweet {
    font-size: x-small;
    line-height: 1.1;
    padding: 15px 10px;
  }
  section.pre-footer .pre-footer-bloc .tweet a {
    color: #1674b7;
    font-weight: bold;
  }
  
  .pre-footer-bloc .post {
    font-size: x-small;
    margin: 15px 0;
    padding: 10px;
  }
  section.pre-footer .pre-footer-bloc .title {
    font-size: small;
    font-weight: 500;
    border-bottom: 1px solid;
    margin-bottom: 15px;
  }
  .pre-footer-bloc .contact-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    width: 100%;
    height: 70%;
  }
  .pre-footer-bloc .contact-wrapper input,
  .pre-footer-bloc .contact-wrapper textarea {
    width: 100%;
    border: 1px solid;
    border-radius: 3px;
    padding-left: 5px;
    background: #214863;
    border: 1px solid #0a4065;
    color: #fff;
    font-size: x-small;
    line-height: 1.5;
    padding: 4px 1px;
    margin: 0;
  }
  .pre-footer-bloc .contact-wrapper button {
    text-align: center;
    display: block;
    background: #e9593c;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    padding: 6px 2px;
    font-size: small;
    text-transform: uppercase;
    display: inline-block;
    width: 60%;
  }
  .pre-footer-bloc li {
    padding: 7px 0 1px;
    border-bottom: 1px solid #fff;
  }
  .pre-footer-bloc li a {
    color: #fff;
  }
  
  .pre-footer-bloc .contact-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    width: 100%;
    height: 70%;
  }
  
  footer {
    display: flex;
    background: #121212;
    padding: 15px;
    color: #b5b5b5;
    font-size: xx-small;
  }
  
  footer div:first-child {
    width: 80%;
    text-align: left;
  }
  
  footer div {
    text-align: right;
    width: 20%;
  }
  